<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ffmpeg-toolsite</title>
    <script src="https://unpkg.com/htmx.org"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="app">
      <h1>CONVERTER</h1>
      <form action="/convert" method="post" enctype="multipart/form-data" id="form">
        <input type="file" name="file"/>
        <select name="format">
          <option value="mp3">mp3</option>
          <option value="gif">gif</option>
          <option value="mp4">mp4</option>
          <option value="png">png</option>
          <option value="jpg">jpg</option>
        </select>
        <input type="submit" value="Convert" />
      </form>
      <div id="result"></div>
    </div>
  </body>
</html>
